<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:icon="@mipmap/ic_launcher"
        android:id="@+id/login"
        android:title="LogIn"/>
    <item
        android:icon="@mipmap/ic_launcher"
        android:id="@+id/logout"
        android:title="LogOut"/>

</menu>